set timeout=5
set default=3
insmod vbe
insmod all_video
insmod gfxterm
terminal_output gfxterm

menuentry "MyOS (Text mode)" {
    set gfxpayload=text
    multiboot2 /boot/kernel.bin mode=text
    boot
}
menuentry "MyOS (Framebuffer 800x600x32)" {
    load_video
    set gfxmode=800x600x32
    set gfxpayload=keep
    multiboot2 /boot/kernel.bin mode=fb
    boot
}
menuentry "MyOS (Framebuffer 640x480x32)" {
    load_video
    set gfxmode=640x480x32
    set gfxpayload=keep
    multiboot2 /boot/kernel.bin mode=fb
    boot
}
menuentry "MyOS (Framebuffer 1024x768x32)" {
    load_video
    set gfxmode=1024x768x32
    set gfxpayload=keep
    multiboot2 /boot/kernel.bin mode=fb
    boot
}