DEFAULT customos
PROMPT 0
TIMEOUT 20

LABEL customos
  KERNEL /boot/vmlinuz
  APPEND initrd=/boot/core.gz loglevel=3 tce=sr0 desktop=custom-os

LABEL safe
  KERNEL /boot/vmlinuz
  APPEND initrd=/boot/core.gz loglevel=3 tce=sr0
